
<section>
	<p><%= link_to "â† back home", root_path %></p>
	<h1>Twitter Queries</h1>

	<% if @queries.any? %>

	<ul>
		<% @queries.each do |q| %>
		<li>
			<%= link_to q.username, q %>
			<small><%= q.created_at %></small>
		</li>
		<% end %>
	</ul>

	<% else %>

	<p>No Twitter queries have been made yet, <%= link_to "make one", root_path %>.</p>

	<% end %>
</section>